body {
    background-color: rgb(71, 74, 81) ;
    color:white;
}

p, ul {
    font-family:monospace;
}
h1{
    text-align: center;
}
#pedro {
    position: relative;
    padding: 30px;
}
#trybe{
    color:green;
}

.nav-list {
    font-size: 1.15em;
}

#menu {
    text-align: center;
    font-size: 30px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 1px;
}

.text{
    font-size:15px;
}